

<div>
    <% @books.each do |book|%>
      <% if book.isbn %>

        <div class="book-container">
          <a href="/info/<%= book.isbn %>">
            <img src="<%= book.cover %>">
            <div class="container-title">
              <ul>
                <li><%= book.title %></li>
                <li> ➜ Isbn: <%= book.isbn %> </li>
              </ul>

            </div>
          </a>
        </div>
      <% end %>
    <% end %>

</div>

<style media="screen">
    ul.list-categories {
        text-align: center;
        margin: auto;
        line-height: 40px;
    }
    li.list-categories {
        list-style: none;
        padding-bottom: 20px;
    }
    li.list-categories a{
        color: #413A38;
        font-size: 26px;
        text-decoration: none;
    }

    li.list-categories :hover {
        background-color: #9C9E95;
        color: white;
    }
    div.list-categories{
        background-color: #DDD9C9;
        opacity: 0.8;
        border-radius: 20px;
        width: 60%;
        position: absolute;
        top: 200px;
        left: 20%;
        padding: 30px;
        text-align: center;
    }
    li.back {
        position: absolute;
        right: 280px;
        top: 22px;
        text-decoration: none;
        font-size: 20px;
    }

</style>
