
<div class='index'>
  <h1 id="welcome">Welcome to The Book Mark </h1>
  <h3> Search whitin our database to find all the information<br>
    about the book you want to read,
    like it </br> and leave a review of the book.
 </h3>
</div>

<style media="screen">
    header {
        height: 70px;
        width: 100%;
    }

    nav li {
        list-style-type: none;
        display : inline;
        float: right;
        text-shadow: 1px 1px 1px black;
        margin-right: 20px;
        font-weight: bold;

    }
    nav a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    #hello {
        float: left;
        font-size: 20px;
    }

    #logout {
        background:none!important;
        border:none;
        padding:0!important;
        margin-top: 5px;
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 2px black;
        cursor: pointer;
        font-weight: bold;
    }
    .links {
        margin-top: 5px;
    }

    ul.menu {
        float: right;
        right: 20px;
        margin-top: 10px;
    }

    ul.menu li {
        list-style-type: none;
        display: inline;

    }

    ul.menu li a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        text-shadow: 1px 1px 1px black;
        margin-right: 20px;
        margin-top: 0;
    }

    .index h1 {
        font-size: 80px;
        text-shadow: 2px 2px 2px black;
        margin-top: 100px;
        margin-left: 50px;
    }
    .index h3 {
        margin-top: 80px;
        text-shadow: 2px 2px 2px black;
        margin-left: 50px;
        line-height: 35px;
        font-size: 30px;

    }
</style>
