<!doctype html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Prociono' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kindle BookShelf</title>
  <link rel="shortcut icon" type="image/x-icon" href="Library-256.png" />
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script src='/javascripts/jquery.js'></script>


</head>
<body>
  <header>
      <% if logged_in? %>
        <nav>
        <ul class="header">
          <li>
            <form action='/session' method='post'>
              <input type='hidden' value='delete' name='_method'>
              <button id="logout"> Log out </button>
            </form>
          </li>
          <li class="links"><a href="/search"> Search</a></li>

          <li class="links" ><a href="/account/<%= current_user.id %>">My Profile </a></li>
          <li id="hello" class="links">Hello, <%= current_user.first_name.capitalize %> </li>
        </ul>
      <% else %>

        <ul class='menu'>
          <li>
            <a href='/session/login'> Login </a>
          </li>
          <li>
            <a href='/user/signup'> Sign Up </a>
          </li>
        </ul>
        <% end %>
      </nav>
  </header>

  <div id='main'>
    <%= yield %>
    <style>
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
           -webkit-text-fill-color: white !important;
   }
</style>
  </div>
