<header>
    <nav>
        <ul class="header">
            <li class="back">
                <a href="<%= request.referrer %>">Back</a>
            </li>
        </ul>
    </nav>
</header>

<div class='list_by_title'>
  <% @books.each do |text| %>
    <ul>
      <li class='list_by_title'>
        <a href="/info/<%= text.isbn_13 %>"> <%= text.title %>  (Authour: <%= text.authors %>) </a>
      </li>

    </ul>
  <%end%>
</div>
