<div class='in'>

    <h2>Please Login</h2>

    <form autocomplete="off" action='/session' method='post'>

        <input autocomplete="off" type='text' name='email' placeholder="Email"><br>

        <input autocomplete="off" type='password' name='password' placeholder="Your password"><br>

        <button>Log In</button><br>

    </form>
</div>

<style media="screen">
    div.in {
        text-align: center;
        color: #8B7C6E;
        line-height: 60px;
        margin: 70px 370px;
        font-size: 26px;
        padding: 10px;
        padding-bottom: 40px;
        padding-top: 30px;
    }

    div.in h2 {
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    div.in input {
        width: 270px;
        height: 35px;
        font-size: 16px;
        border-radius: 10px;
        padding-left: 10px;
        margin: 0px;
    }

    div.in button{
        width: 200px;
        height: 30px;
        font-size: 16px;
        position: absolute;
        bottom: 80px;
        right: 42%;
    }
</style>
