<div class='in'>

    <h2>Please Login</h2>

    <form autocomplete="off" action='/session' method='post'>

        <input autocomplete="off" type='text' name='email' placeholder="Email"><br>

        <input autocomplete="off" type='password' name='password' placeholder="Your password"><br>

        <button>Log In</button><br>

    </form>
</div>
