

<div class='search'>
  <div class='by_title'>
    <h3>Do you already know what you're looking for?</h3>
    <h3> Then go ahed and type your title...</h3>
    <form autocomplete="off" action='/list'>
    <label for=''></label>
    <input type='text' name='title' placeholder="Type a title...">
    <button>Search</button>
  </div>

  <% if logged_in? %>
    <div class='by_category'>
      <h2 id="cat">Search from our Categories </h2>
        <div class="all-categories">
          <% @categories.each do |category| %>
            <a href="/category/<%= category.id %>"> <%= category.name.capitalize %> </a>
          <% end %>
        </div>


    </div>
  <% end %>
</div>
