

<div class='search'>
  <div class='by_title'>
    <h3>Do you already know what you're looking for?</h3>
    <h3> Then go ahed and type your title...</h3>
    <form autocomplete="off" action='/list'>
    <label for=''></label>
    <input type='text' name='title' placeholder="Type a title...">
    <button>Search</button>
  </div>

  <% if logged_in? %>
    <div class='by_category'>
      <h2 id="cat">Search from our Categories </h2>
        <div class="all-categories">
          <% @categories.each do |category| %>
            <a href="/category/<%= category.id %>"> <%= category.name.capitalize %> </a>
          <% end %>
        </div>


    </div>
  <% end %>
</div>


<style media="screen">

    .by_title{
        text-align: center;
        width: 100%;
        height: 400px;
        position: absolute;
        top: 180px;
        left: 20%;
    }

    .back-link {
        position: absolute;
        left: 30px;
    }

    div.by_title input{
        height: 40px;
        width: 400px;
        font-size: 18px;
        padding: 10px;
    }

    div.by_title h3{
        text-shadow: 2px 2px black;
        font-size: 22px;
    }

    div.by_title button {
        width: 100px;
        height: 40px;
        background-color: white;
        border: 2px solid grey;
        font-size: 18px;
    }

    #cat {
        text-align: center;
        font-size: 36px;
        text-shadow: 2px 2px black;
    }

    .by_category {
        width: 100%;
        height: 450px;
        display: block;
        background-color: #DDD9C9;
        padding-top: 5px;
        opacity: 0.8;
        position: absolute;
        top: 500px;
    }

    .all-categories {
            margin-left: 10%;
            margin-right: 5%;
    }


    div.by_category a {
        border-radius: 5px;
        width: 300px;
        text-align: center;
        background-color: white;
        padding: 20px;
        font-size: 18px;
        text-decoration: none;
        color: black;
        margin: 10px;
        display: inline-block;
        margin-bottom: 20px;
        box-shadow: 5px 5px 2px #9EA6A4;
    }
    
</style>
