<div class='signup'>

    <h2>Complete the form</h2>

    <form action='/user/signup' method='post'>

      <div class="personal-info">
        <input type='text' name='first_name' placeholder="Insert your name"><br>
        <input type='text' name='last_name' placeholder="Insert your surname"><br>
        <input type='text' name='date_of_birth' placeholder="Your date of birth"><br>
        <input type='text' name='email' placeholder="Insert your email"><br>
      </div>

      <div class="other-infos">
        <input type='text' name='address' placeholder="Your Address"><br>
        <input type='text' name='city' placeholder="Your City"><br>
        <input type='password' name='password' placeholder="Insert your password"><br>
      </div>

        <button>Sign Up</button>

    </form>
</div>
