<div class='signup'>

    <h2>Complete the form</h2>

    <form action='/user/signup' method='post'>

      <div class="personal-info">
        <input type='text' name='first_name' placeholder="Insert your name"><br>
        <input type='text' name='last_name' placeholder="Insert your surname"><br>
        <input type='text' name='date_of_birth' placeholder="Your date of birth"><br>
        <input type='text' name='email' placeholder="Insert your email"><br>
      </div>

      <div class="other-infos">
        <input type='text' name='address' placeholder="Your Address"><br>
        <input type='text' name='city' placeholder="Your City"><br>
        <input type='password' name='password' placeholder="Insert your password"><br>
      </div>

        <button>Sign Up</button>

    </form>
</div>

<style>

    #main {
        position: relative;
        height: 100%;
    }

    div.signup {
        font-size: 1rem;
        text-align: center;
        width:100%;
        height: auto;
        position: absolute;

    }

    div.signup form{
        line-height: 50px;
    }

    div.signup h2 {
        color: white;
        margin: 20px auto;
        text-shadow: 1px 1px 1px black;
    }

    div.signup input {
        height: 50px;
        width: 100%;
        color: grey;
        border: none;
        font-size: 1rem;
        border-radius: 10px;
        padding-left: 20px;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    div.signup button {
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 3px;
        margin: 30px 0;
        font-size: 1rem;
        background-color: white;
        color: grey;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    div.signup button:hover {
        background-color: #3EE982;
    }

    @media screen and (min-width: 768px) {
        .personal-info {
            width: 40%;
            display: inline-block;
        }
        .other-infos{
            width: 40%;
            margin-left: 5%;
            display: inline-block;
            vertical-align: top;
        }
    }

</style>
